---
- name: apt | fix corrida anterior que quedo colgada
  ansible.builtin.shell: >
    killall dpkg ;
    sleep 2 ;
    killall -9 dpkg ;
    export DEBIAN_FRONTEND=noninteractive ;
    export DEBCONF_NONINTERACTIVE_SEEN=true ;
    export UCF_FORCE_CONFOLD=1 ;
    export APT_LISTCHANGES_FRONTEND=none ;
    dpkg --configure -a ;
    apt-get -q --option \"Dpkg::Options::=--force-confold\" install -f -y ;
  become: true
  changed_when: false
  tags:
    - apt

#  echo 'Acquire::Languages "none";' | sudo tee /etc/apt/apt.conf.d/00languages
- name: apt | Elimina APT languages
  ansible.builtin.copy:
    dest: "/etc/apt/apt.conf.d/00languages"
    content: 'Acquire::Languages "none";'
  become: true
  tags:
    - apt

- name: apt | Pone en blanco a sources.list
  ansible.builtin.copy:
    dest: /etc/apt/sources.list
    content: ""
    mode: "0644"
    force: true
  become: true
  tags:
    - apt

- name: apt | agrega repositorios
  ansible.builtin.include_tasks: agrego_repositorio.yml
  loop: "{{ apt_repositories }}"
  loop_control:
    loop_var: un_repo
  tags:
    - apt

- name: apt | actualizo lista paquetes .deb
  ansible.builtin.apt:
    update_cache: true
  become: true
  changed_when: false
  tags:
    - apt
