---
- name: paquetes generales requisitos para instalar devops
  ansible.builtin.apt:
    name: git
    state: present
  become: true
  tags:
    - devops
    - git

- name: devops | descarga completion de git para bash
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh
    dest: ~/.git-prompt.sh
    mode: "0660"
  become: true
  become_user: "{{ devops_user_name }}"
  tags:
    - devops
    - git

- name: devops | linea en .bashrc para completamientos git de bash
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: "source ~/.git-prompt.sh"
  become: true
  become_user: "{{ devops_user_name }}"
  tags:
    - devops
    - git

# FIXME: configurar ~/.gitconfig
