---
# See https://github.com/GitCredentialManager/git-credential-manager/releases for versions
# https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/install.md#install-2

- name: paquetes generales
  ansible.builtin.package:
    name:
      - jq
      - git
      - wget
      - curl
      - unzip
    state: present
  become: true
  tags:
    - git-credential-manager

- name: git-credential-manager | version actual instalada
  ansible.builtin.shell: |
    LANG=C dpkg -l gcm | awk ' /^ii/ {print gensub("([0-9]*\\.[0-9]*\\.[0-9]*)-(.*)", "\\1","1", $3) }'
  register: reg_gcm_version
  failed_when: false
  changed_when: false
  tags:
    - git-credential-manager

- name: git-credential-manager | busca el nombre de la version actual
  ansible.builtin.shell: |
    curl --silent https://api.github.com/repositories/158405551/releases/latest | jq -r ".tag_name"
  register: reg_gcm_url_version
  changed_when: false
  tags:
    - git-credential-manager

- ansible.builtin.set_fact:
    gcm_version_instalada: "{{ reg_gcm_version.rc == 0 and reg_gcm_version.stdout or false }}"
    gcm_url_version: "{{ reg_gcm_url_version.stdout[1:] }}"
  tags:
    - git-credential-manager

- ansible.builtin.set_fact:
    gcm_url_actual: "https://github.com/GitCredentialManager/git-credential-manager/releases/download/v{{ gcm_url_version }}/gcm-linux-x64-{{ gcm_url_version }}.deb"
  tags:
    - git-credential-manager

- ansible.builtin.debug: msg="gcm, version instalada - {{ gcm_version_instalada }}"
  tags:
    - git-credential-manager
- ansible.builtin.debug: msg="gcm, url actual        - {{ gcm_url_actual }}"
  tags:
    - git-credential-manager
- ansible.builtin.debug: msg="gcm, url version       - {{ gcm_url_version }}"
  tags:
    - git-credential-manager
# "

- name: git-credential-manager | descarga paquete
  ansible.builtin.get_url:
    url: "{{ gcm_url_actual }}"
    dest: "/tmp/{{ gcm_url_actual | basename }}"
    mode: "0755"
    force: true
  become: true
  when: gcm_version_instalada|default("0.0.0", true) is version(gcm_url_version, operator='lt', strict=True)
  tags:
    - git-credential-manager

- name: git-credential-manager | instala binario
  ansible.builtin.apt:
    deb: /tmp/{{ gcm_url_actual | basename }}
  become: true
  when: gcm_version_instalada|default("0.0.0", true) is version(gcm_url_version, operator='lt', strict=True)
  tags:
    - git-credential-manager

- name: git-credential-manager | Install missing packages
  ansible.builtin.shell: |
    apt install -f -y
  become: true
  when: gcm_version_instalada|default("0.0.0", true) is version(gcm_url_version, operator='lt', strict=True)
  tags:
    - git-credential-manager

#- name: git-credential-manager | Configure
#  shell: |
#       git-credential-manager-core configure
#  become: true
#  when: gcm_version_instalada|default("0.0.0", true) is version(gcm_url_version, operator='lt', strict=True)
#  tags:
#    - git-credential-manager
