---
# See https://github.com/ericchiang/pup/releases for release versions

- name: paquetes generales
  ansible.builtin.apt:
    name:
      - jq
      - git
      - wget
      - curl
      - unzip
    state: present
  become: true
  tags:
    - pup

- name: pup | version actual instalada
  ansible.builtin.shell: |
    LANG=C /usr/local/bin/pup --version
  register: reg_pup_version
  failed_when: false
  changed_when: false
  tags:
    - pup

- ansible.builtin.set_fact:
    pup_version_instalada: "{{ reg_pup_version.rc == 0 and reg_pup_version.stdout or false }}"
    pup_version: "0.4.0"
  tags:
    - pup

- ansible.builtin.set_fact:
    pup_url_actual: "https://github.com/ericchiang/pup/releases/download/v{{ pup_version }}/pup_v{{ pup_version }}_linux_amd64.zip"
  tags:
    - pup

- name: pup | descarga paquete
  ansible.builtin.get_url:
    url: "{{ pup_url_actual }}"
    dest: "/tmp/pup_v{{ pup_version }}_linux_amd64.zip"
    force: true
  become: true
  when: pup_version_instalada != pup_version
  tags:
    - pup

- name: pup | instala binario
  ansible.builtin.unarchive:
    src: "/tmp/pup_v{{ pup_version }}_linux_amd64.zip"
    dest: /usr/local/bin
    remote_src: true
    mode: "0755"
  become: true
  when: pup_version_instalada != pup_version
  tags:
    - pup
