---
# See https://zoom.us/download#client_4meeting

- name: zoom | paquetes generales
  apt:
    name:
      - jq
      - git
      - wget
      - curl
      - unzip
    state: present
  become: true
  tags:
    - zoom


- set_fact:
    zoom_download_dir: /usr/local/zoom_download
  tags:
    - zoom

- name: zoom | version actual instalada
  shell: |
     LANG=C dpkg-query --showformat='${Version}\n' --show zoom
  register: reg_zoom_version_instalada
  failed_when: false
  changed_when: false
  tags:
    - zoom


- name: zoom | directorio de descargas
  file:
    path: "{{ zoom_download_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: true
  tags:
    - zoom

- name: zoom | descarga paquete
  get_url:
    url: "https://zoom.us/client/latest/zoom_amd64.deb"
    dest: {{ zoom_download_dir }}/zoom_amd64.deb
    force: true
  become: true
  tags:
    - zoom

- name: zoom | version disponible en el paquete descargado
  shell: dpkg-deb -f {{ zoom_download_dir }}/zoom_amd64.deb Version
  register: reg_zoom_version_disponible
  changed_when: false
  tags:
    - zoom

- name: zoom | debug versiones
  debug:
    msg: "zoom instalada={{ reg_zoom_version_instalada.stdout | default('no instalado') }} disponible={{ reg_zoom_version_disponible.stdout }}"
  tags:
    - zoom

- name: zoom | instala paquete
  apt:
    deb: {{ zoom_download_dir }}/zoom_amd64.deb
  become: true
  when: reg_zoom_version_instalada.stdout != reg_zoom_version_disponible.stdout
  tags:
    - zoom

- name: zoom | asegura dependencias
  shell: apt-get -y -f install
  become: true
  when: reg_zoom_version_instalada.stdout != reg_zoom_version_disponible.stdout
  tags:
    - zoom

