---
# sudo add-apt-repository ppa:openshot.developers/ppa
# sudo apt update
# sudo apt install openshot-qt python3-openshot

- name: openshot | agrego repo
  ansible.builtin.apt_repository:
    repo: ppa:openshot.developers/ppa
    state: present
    update_cache: true
    filename: openshot
  become: true
  register: reg_add_ppa_openshot
  when: ansible_distribution == 'Ubuntu'
  tags:
    - apt
    - openshot

- name: openshot | actualizo lista paquetes .deb
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true
  when: ansible_distribution == 'Ubuntu' and reg_add_ppa_openshot is changed
  tags:
    - apt
    - openshot

- name: openshot | instala openshot
  ansible.builtin.apt:
    name:
      - openshot-qt
      - python3-openshot
    state: present
  become: true
  tags:
    - apt
    - openshot
