---
- name: performance | actualizo lista paquetes .deb
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags: [performance]

- name: performance | instala preload
  ansible.builtin.apt:
    name:
      - preload
    state: present
  become: true
  tags: [performance]

- name: performance | instala indicator-cpufreq, ubuntu-restricted-extras (Ubuntu only)
  ansible.builtin.apt:
    name:
      - indicator-cpufreq
      - ubuntu-restricted-extras
    state: present
  become: true
  when: ansible_facts['distribution'] == 'Ubuntu'
  tags: [performance]

- name: performance | verificar si existe bateria
  ansible.builtin.shell: LANG=C upower -i /org/freedesktop/UPower/devices/battery_BATT | grep -E percentage | awk {'print $2'} | sed 's/[^0-9]*//g'
  register: exist_battery
  tags: [performance]

- name: performance | instala tlp
  ansible.builtin.apt:
    name:
      # - laptop-mode-tools # es incompatible con tlp
      - tlp
      - tlp-rdw
    state: present
  become: true
  when: exist_battery.stdout|int > 0
  tags: [performance]

# TODO: para configurar laptop-mode-tools:
# sudo lmt-config-gui 

- name: performance | inicia tlp
  ansible.builtin.command: tlp start
  changed_when: false
  become: true
  when: exist_battery.stdout|int > 0
  tags: [performance]

# #
# FIXME: desactiva animaciones - hacer que se guarde, sino anda en la sesión actual únicamente:
#
# gsettings set org.gnome.desktop.interface enable-animations 'false'
# gsettings set org.gnome.desktop.search-providers disable-external 'true'
- name: performance | ajusta swappiness
  ansible.posix.sysctl:
    name: vm.swappiness
    value: "{{ swappiness }}"
    state: present
    reload: true
  become: true
  tags: [performance]

- name: performance | ajusta vfs_cache_pressure
  ansible.posix.sysctl:
    name: vm.vfs_cache_pressure
    value: "50"
    state: present
    reload: true
  become: true
  tags: [performance]
