---

- name: escritorio | agrego clave del repo de google chrome
  apt_key:
    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    id: 'A040830F7FAC5991'
    state: present
  become: true
  tags:
    - escritorio

- name: escritorio | agrego repo google chrome
  apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    state: present
    filename: google-chrome
    update_cache: yes
  become: true
  tags:
    - escritorio

- name: escritorio | actualizo lista paquetes .deb
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: true
  tags:
    - escritorio


- name: escritorio | libdvd-pkg config 1
  debconf:
    name: libdvd-pkg
    question: libdvd-pkg/build
    value: "True"
    vtype: boolean
  become: true
  changed_when: false
  tags:
    - escritorio

- name: escritorio | libdvd-pkg config 2
  debconf:
    name: libdvd-pkg
    question: libdvd-pkg/first-install
    value: ""
    vtype: note
  become: true
  tags:
    - escritorio

- name: escritorio | libdvd-pkg config 3
  debconf:
    name: libdvd-pkg
    question: libdvd-pkg/upgrade
    value: ""
    vtype: note
  become: true
  tags:
    - escritorio

- name: escritorio | libdvd-pkg config 4
  debconf:
    name: libdvd-pkg
    question: libdvd-pkg/post-invoke_hook-remove
    value: "False"
    vtype: boolean
  become: true
  changed_when: false
  tags:
    - escritorio

- name: escritorio | libdvd-pkg config 5
  debconf:
    name: libdvd-pkg
    question: libdvd-pkg/post-invoke_hook-install
    value: "True"
    vtype: boolean
  become: true
  changed_when: false
  tags:
    - escritorio

- name: escritorio | ttf-mscorefonts-installer
  debconf:
    name: ttf-mscorefonts-installer
    question: msttcorefonts/accepted-mscorefonts-eula
    value: "True"
    vtype: boolean
  become: true
  changed_when: false
  tags:
    - escritorio


- name: escritorio | completa instalacion de idiomas
  shell: apt install -y $(check-language-support)
  become: true
  changed_when: false
  tags:
    - escritorio


- name: escritorio | instala paquetes de servidor
  apt:
    name:
      - cgroup-tools
      - cmake
      - debconf-utils
      - deborphan
      - dnsmasq
      - inetutils-traceroute
      - iotop
      - iproute2
      - gawk
      - htop
      - mc
      - mlocate
      - nocache
      - openssh-server
      - pv
      - rar
      - rdiff-backup
      - screen
      - sshpass
      - unrar
    state: present
  become: true
  tags:
    - escritorio


- name: escritorio | instala varios
  apt:
    name:
      - exfatprogs
      - python-is-python3
    state: present
  when:  ansible_distribution == "Ubuntu" and ansible_distribution_version is version('22.04', operator='ge', strict=True)
  become: true
  tags:
    - escritorio


- name: escritorio | instala varios
  apt:
    name:
      - antiword
      - axel
      - bchunk
      - convmv
      - dia
      - djview4
      - elinks
      - eog
      - exfat-fuse
      #- fdupes
      - flameshot
      - google-chrome-stable
      - gpm
      - graphviz
      - ipcalc
      - libavcodec-extra
      - libnotify-bin
      #- libdvd-pkg
      - makepasswd
      - minicom
      - mplayer
      - nmap
      - ntfs-3g
      - odt2txt
      - recode
      - tree
      - ttf-mscorefonts-installer
      - vim
      - wv
      - x11-xkb-utils
      - xauth
      - xchm
      - xournal
      - xscreensaver
      - zram-config
      #- gnome-tweak-tool
    state: present
  become: true
  tags:
    - escritorio

- name: escritorio | instala varios pre 20.04
  apt:
    name:
      - exfat-utils
    state: present
  when:  ansible_distribution == "Ubuntu" and ansible_distribution_version is version('22.04', operator='lt', strict=True)
  become: true
  tags:
    - escritorio


- name: escritorio | instala libreoffice
  apt:
    name:
      - libreoffice-base-core
      - libreoffice-calc
      - libreoffice-common
      - libreoffice-core
      - libreoffice-draw
      - libreoffice-gnome
      - libreoffice-gtk3
      - libreoffice-help-en-gb
      - libreoffice-help-en-us
      - libreoffice-help-es
      - libreoffice-impress
      - libreoffice-java-common
      - libreoffice-l10n-en-gb
      - libreoffice-l10n-en-za
      - libreoffice-l10n-es
      - libreoffice-math
      - libreoffice-ogltrans
      - libreoffice-pdfimport
      - libreoffice-style-breeze
        #- libreoffice-style-colibre no esta en 18.04
      - libreoffice-style-elementary
      - libreoffice-style-tango
      - libreoffice-writer
    state: present
  become: true
  tags:
    - escritorio

- name: escritorio | elimina varios
  apt:
    name:
      - avahi-daemon
      - bamfdaemon
      - cups-browsed
      - deja-dup
      - empathy
      - evolution-data-server
      - gnome-software
      - indicator-messages
      - libreoffice-qt5 # https://ask.libreoffice.org/t/blank-pdf-when-i-export-from-librewriter/64728/3
      - libzeitgeist-1.0-1
      - libzeitgeist-2.0-0
      - modemmanager
      - telepathy-indicator
    state: absent
  become: true
  tags:
    - escritorio

# http://duncanlock.net/blog/2013/05/03/how-to-set-your-compose-key-on-xfce-xubuntu-lxde-linux/
# http://wiki.linuxquestions.org/wiki/List_of_Keysyms_Recognised_by_Xmodmap
# /usr/share/X11/locale/en_US.UTF-8/Compose lista de simbolos para Compose
# http://wiki.linuxquestions.org/wiki/List_of_keysyms
# FIXME: para arreglarlo a nivel sistema modificar en /etc/default/keyboard XKBOPTIONS="compose:paus"
#
# https://wiki.archlinux.org/index.php/Linux_console_(Espa%C3%B1ol)/Keyboard_configuration_(Espa%C3%B1ol)
# localectl status
# https://wiki.archlinux.org/index.php/Keyboard_input
# https://wiki.archlinux.org/index.php/Xorg/Keyboard_configuration#Configuring_compose_key
# grep "compose:" /usr/share/X11/xkb/rules/base.lst
# setxkbmap -print -verbose 10


- name: escritorio | activa tecla de Compose
  shell: setxkbmap -option "compose:paus"
  failed_when: false
  changed_when: false
  tags:
    - escritorio

# http://rg3.github.io/youtube-dl/download.html
- name: escritorio | instala youtube-dl
  shell: |
      if [ ! -f /usr/local/bin/youtube-dl ] ; then
        curl -L https://yt-dl.org/downloads/latest/youtube-dl -o /usr/local/bin/youtube-dl
        chmod a+rx /usr/local/bin/youtube-dl
      fi

  changed_when: false
  become: true
  tags:
    - escritorio

- name: escritorio | actualiza youtube-dl
  command: python3 /usr/local/bin/youtube-dl --update
  changed_when: false
  become: true
  tags:
    - escritorio

- name: escritorio | configura cgroup-tools en grub
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT='
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="cgroup_enable=memory swapaccount=1"'
    owner: root
    group: root
    mode: 0644
    validate: 'sudo /usr/sbin/update-grub # %s'
  become: true
  tags:
    - escritorio


- name: escritorio | instala aplicaciones con flatpak
  import_tasks: tasks/instala_flatpak.yml
  when: ansible_distribution == "Ubuntu" and ansible_distribution_release == "bionic"
  tags:
    - escritorio
    - flatpak


# FIXME:
#
#  sudo vi /usr/local/bin/gdmflexiserver
#
# #!/bin/sh
# # 
# # replacement for missing gdmflexiserver in Ubuntu 1[48].04
# #
# dm-tool switch-to-greeter
#
#  sudo chmod a+rx  /usr/local/bin/gdmflexiserver

