---
# Tomado de:
# https://github.com/debops-contrib/ansible-fuse

# #
# # Para montar un directorio remoto, hacer:
# mkdir ./mnt1
# sshfs  -o allow_other -o sshfs_sync -o no_readahead -o sync_readdir -o reconnect -C -o workaround=all -o ServerAliveInterval=15 root@192.168.11.192:/home/respaldos ./mnt1 
# fusermount -u ./mnt1
- name: fuse | Install required packages sshfs
  ansible.builtin.apt:
    name: "sshfs"
    state: "present"
  become: true

- name: fuse | Install required packages fuse
  ansible.builtin.apt:
    name: "fuse"
    state: "present"
    install_recommends: false
  become: true

- name: fuse | Divert original /etc/fuse.conf
  ansible.builtin.command: dpkg-divert --quiet --local --divert /etc/fuse.conf.dpkg-divert --rename /etc/fuse.conf
  args:
    creates: "/etc/fuse.conf.dpkg-divert"
  become: true

- name: fuse | Config
  ansible.builtin.template:
    src: "fuse.conf.j2"
    dest: "/etc/fuse.conf"
  become: true

- name: fuse | Ensure fuse system group is present
  ansible.builtin.group:
    name: fuse
    state: "present"
    system: true
  become: true

- name: fuse | Add fuse_users to fuse_group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: "fuse"
    append: true
  with_flattened:
    - "{{ devops_user_name }}"
  become: true

- name: fuse | Setup udev rule for fuse to change file permissions
  ansible.builtin.template:
    src: "etc/udev/rules.d/fuse.rules.j2"
    dest: "/etc/udev/rules.d/99-fuse.rules"
  when: fuse_restrict_access | bool
  become: true

- name: fuse | Ensure FUSE permissions are applied immediately
  ansible.builtin.file:
    path: "/dev/fuse"
    owner: "root"
    group: "fuse"
    mode: "0660"
  when: fuse_restrict_access | bool
  become: true

- name: fuse | Remove udev rule for fuse
  ansible.builtin.file:
    path: "/etc/udev/rules.d/99-fuse.rules"
    state: "absent"
  when: not (fuse_restrict_access | bool)
  become: true
