---
- ansible.builtin.set_fact:
    __env_http_proxy: "{{ http_proxy }}"
    __env_https_proxy: "{{ https_proxy }}"
    __env_no_proxy: "{{ no_proxy }}"

- name: snap | actualizo lista paquetes .deb
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags:
    - snap

- name: snap | instala snapd
  ansible.builtin.apt:
    name: snapd
    state: present
  become: true
  tags:
    - snap

- name: devops | snap | Make sure that snapd.service.d directory exists
  ansible.builtin.file:
    path: "/etc/systemd/system/snapd.service.d/"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  when: (ansible_facts['service_mgr'] == 'systemd' and (__env_http_proxy is defined or __env_https_proxy is defined))
  become: true
  tags:
    - snap
    - proxy

- name: devops | snap | configura proxy
  ansible.builtin.template:
    src: "http-proxy.conf.j2"
    dest: "/etc/systemd/system/snapd.service.d/http-proxy.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  become: true
  register: reg_snap_proxy
  when: (ansible_facts['service_mgr'] == 'systemd' and (__env_http_proxy is defined or __env_https_proxy is defined))
  tags:
    - snap
    - proxy

- name: devops | snap | snap deamon is running
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: true
    name: snapd
  become: true
  when: reg_snap_proxy is changed
  tags:
    - snap
    - proxy

- name: snap | install snap packages
  community.general.snap:
    name: "{{ item }}"
    state: present
  loop: "{{ snap_install }}"
  when: snap_install | length > 0
  become: true
  ignore_errors: "{{ lookup('env', 'CI') | default(false, boolean=true) | bool }}"
  tags:
    - snap

- name: snap | remove snap packages
  community.general.snap:
    name: "{{ item }}"
    state: absent
  loop: "{{ snap_remove }}"
  when: snap_remove | length > 0
  become: true
  ignore_errors: "{{ lookup('env', 'CI') | default(false, boolean=true) | bool }}"
  tags:
    - snap
