---
- name: ffmpeg | actualizo lista paquetes .deb
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags:
    - video
    - ffmpeg

- name: ffmpeg | instala ffmpeg
  ansible.builtin.apt:
    name:
      - ffmpeg
      - x264
      - graphicsmagick
    state: present
  become: true
  tags:
    - video
    - ffmpeg
