---
- name: mise-en-place | Create keyrings directory if it doesn't exist
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  become: true
  tags:
    - mise-en-place

- name: mise-en-place | download GPG key
  ansible.builtin.get_url:
    url: "https://mise.jdx.dev/gpg-key.pub"
    dest: /usr/share/keyrings/mise-archive-keyring.asc
    mode: "0644"
  become: true
  tags:
    - mise-en-place

- name: mise-en-place | convert GPG key to dearmor format
  ansible.builtin.command: gpg --dearmor --yes -o /etc/apt/keyrings/mise-archive-keyring.gpg /usr/share/keyrings/mise-archive-keyring.asc
  args:
    creates: /etc/apt/keyrings/mise-archive-keyring.gpg
  become: true
  tags:
    - mise-en-place

- name: mise-en-place | Add Mise repository to sources list
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main"
    state: present
    filename: mise-in-place
    update_cache: true
  become: true
  tags:
    - mise-en-place

- name: mise-en-place | Install or update Mise
  ansible.builtin.apt:
    name: mise
    state: latest
  become: true
  tags:
    - mise-en-place
