ORGANIZATION="{{ organizacion }}"

ALL_PROXY="{{ all_proxy }}"
HTTPS_PROXY="{{ https_proxy }}"
HTTP_PROXY="{{ http_proxy }}"
FTP_PROXY="{{ ftp_proxy }}"
NO_PROXY="{{ no_proxy }}"

all_proxy="{{ all_proxy }}"
https_proxy="{{ https_proxy }}"
http_proxy="{{ http_proxy }}"
ftp_proxy="{{ ftp_proxy }}"
no_proxy="{{ no_proxy }}"

soap_use_proxy=on

PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
LANGUAGE="es_AR:es"
LANG="es_AR.UTF-8"
# la siguientes es prevista para autoconfiguracion en disco local
#auto_proxy=file:///usr/local/etc/wpad.dat

