ORGANIZATION="{{ organizacion }}"

{% if all_proxy|d() %}
ALL_PROXY="{{ all_proxy }}"
{% endif %}
{% if https_proxy|d() %}
HTTPS_PROXY="{{ https_proxy }}"
{% endif %}
{% if http_proxy|d() %}
HTTP_PROXY="{{ http_proxy }}"
{% endif %}
{% if ftp_proxy|d() %}
FTP_PROXY="{{ ftp_proxy }}"
{% endif %}
{% if no_proxy|d() %}
NO_PROXY="{{ no_proxy }}"
{% endif %}

{% if all_proxy|d() %}
all_proxy="{{ all_proxy }}"
{% endif %}
{% if https_proxy|d() %}
https_proxy="{{ https_proxy }}"
{% endif %}
{% if http_proxy|d() %}
http_proxy="{{ http_proxy }}"
{% endif %}
{% if ftp_proxy|d() %}
ftp_proxy="{{ ftp_proxy }}"
{% endif %}
{% if no_proxy|d() %}
no_proxy="{{ no_proxy }}"
{% endif %}

soap_use_proxy=on

PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
LANGUAGE="es_AR:es"
LANG="es_AR.UTF-8"
# la siguientes es prevista para autoconfiguracion en disco local
#auto_proxy=file:///usr/local/etc/wpad.dat

