---
- name: flatpak | instala flatpak
  ansible.builtin.apt:
    name:
      - flatpak
      #- gnome-software-plugin-flatpak
    state: present
  become: true
  tags:
    - escritorio
    - flatpak

- name: flatpak | Add the flathub flatpak repository remote to the system installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    #method: user
  become: true
  tags:
    - escritorio
    - flatpak

- name: flatpak | Install packages from flathub
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop: "{{ flatpak_install }}"
  when: flatpak_install | length > 0
  become: true
  tags:
    - escritorio
    - flatpak

##
# Como activar con un activation code
# https://resharper-support.jetbrains.com/hc/en-us/articles/207327790-How-to-execute-an-offline-activation-
#
# licencias para PHPStorm
# https://gist.github.com/bangnguyen47/96af3784c9d61d54280e0aadeb5576eb
#
# Building IntelliJ IDEA License Server on Ubuntu
# https://developpaper.com/building-intellij-idea-license-server-on-ubuntu/
#

- name: flatpak | Update packages from flathub
  ansible.builtin.command: "flatpak update --assumeyes --app {{ item }}"
  loop: "{{ flatpak_install }}"
  when: flatpak_install | length > 0
  become: true
  tags:
    - escritorio
    - flatpak

- name: flatpak | Remove flatpak packages
  community.general.flatpak:
    name: "{{ item }}"
    state: absent
  loop: "{{ flatpak_remove }}"
  when: flatpak_remove | length > 0
  become: true
  tags:
    - escritorio
    - flatpak
