---
# openshot-qt and python3-openshot are available in standard Ubuntu and Debian repos

- name: openshot | instala openshot
  ansible.builtin.apt:
    name:
      - openshot-qt
      - python3-openshot
    state: present
  become: true
  tags:
    - apt
    - openshot
